@font-face {
	font-family: dm-mono-regular;
	src: url(/fonts/dm-mono/DMMono-Regular.ttf);
}

body {
	background: #91bbff;
	font-family: dm-mono-regular;
	color: #333;
	padding-left: 10px;
	padding-right: 10px;
}

#welcome {
	width: 400px;
	font-size: 20px;
	margin: auto;
	margin-top: 40vh;
}

#clouds {
	color: white;
	position: absolute;
	top: -18em;
	left: 4m;
}

#land {
	position: absolute;
	top: -5em;
	left: 2.7em;
}

#tent {
}

#fire {
	color: red;
}

#fire {
	position: absolute;
	top: 3.5rem;
	left: 16rem;
}

#inner-fire {
	color: #ffd000;
}

#sticks {
	color: brown;
}

.text-image {
	position: relative;
}
